@charset "UTF-8";
header {
  width: 100%;
  height: 732px;
  background: #fff;
}

header .nav {
  height: 132px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

header .nav h1 {
  padding: 0 30px;
}

header .nav ul {
  position: absolute;
  left: 350px;
  width: 700px;
  height: 132px;
  line-height: 132px;
  display: flex;
}

header .nav ul li {
  box-sizing: border-box;
  display: flex;
}

header .nav ul li a {
  display: block;
  width: 108px;
  color: #5e5c5b;
  font-size: 16px;
  font-weight: bolder;
  transition: 0.5s;
  text-align: center;
  position: relative;
}

header .nav ul li a:hover {
  color: #008cc7;
}

header .nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #008cc7;
  position: absolute;
  left: 50%;
  bottom: 45px;
  transform: translateX(-50%);
  transition: width 1s;
}

header .nav ul li a:hover::after {
  width: 100%;
}

header .nav .search {
  width: 132px;
  height: 132px;
}

header .nav .search h2 {
  padding: 51px;
}

header .banner {
  width: 100%;
  height: 600px;
  background-image: url(../images/about_banner.jpg);
  background-size: 100% 100%;
}

header .banner h2 {
  font-size: 40px;
  color: white;
  position: absolute;
  left: 60%;
  line-height: 600px;
}

main {
  width: 100%;
}

main .company {
  width: 80%;
  margin: 0 auto;
}

main .company .company_top {
  width: 100px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  padding: 60px 0 20px 0;
  color: #04a396;
}

main .company .company_top h4 {
  width: 100px;
  height: 24px;
  font-size: 20px;
  line-height: 24px;
  border-left: 5px solid #04a396;
  color: #04a396;
  padding-left: 8px;
}

main .company .company_bottom p {
  color: #9b9b9b;
  line-height: 26px;
  padding: 0 0 20px 0;
}

footer {
  width: 100%;
  height: 400px;
}

footer .footer_search {
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding-top: 60px;
}

footer .footer_search #search {
  width: 100%;
  height: 30px;
  border: 1px solid #aaaaaa;
}

footer .footer_search #search::-webkit-input-placeholder {
  padding-left: 10px;
  font-size: 16px;
  line-height: 30px;
}

footer .footer_search .search_image {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 67px;
  z-index: 5;
  background-repeat: no-repeat;
  /*设置图片不重复*/
  background-position: 0px 0px;
}

footer .footer_center {
  width: 80%;
  margin: 0 auto;
}

footer .footer_center section h5 {
  font-size: 18px;
  padding: 25px 0 20px 0;
  color: #525252;
  font-weight: 500;
}

footer .footer_center .footer_one {
  width: 100%;
}

footer .footer_center .footer_one a {
  display: inline;
  padding-right: 10px;
  color: #5c5c5c;
  font-size: 14px;
}

footer .footer_center .footer_two {
  width: 100%;
  height: 75px;
  text-align: center;
  line-height: 75px;
  border-top: 1px solid #dddddd;
  margin-top: 20px;
}

footer .footer_center .footer_two p {
  font-size: 14px;
  color: dimgrey;
}
