//头部内容
*{
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    background: #fff;
    .nav{
        height: 132px;
        margin: 0 auto;
        display: flex;
        justify-content:space-between;
        position: relative;
        h1{
            // float: left;
            padding: 0 30px;
        }
        ul{
            position: absolute;
            left: 350px;
            width: 700px;
            height: 132px;
            line-height: 132px;
            display: flex;
            li{
                box-sizing: border-box;
                display: flex;
                a{
                    display: block;
                    width: 108px;
                    color: rgb(94, 92, 91);
                    font-size: 16px;
                    font-weight: bolder;
                    transition: 0.5s;
                    text-align: center;
                    position: relative;
                    &:hover{
                        color: rgb(0, 140, 199);
                    }
                    &::after{
                        content: "";
                        width: 0;
                        height: 3px;
                        background-color:   rgb(0, 140, 199);
                        position: absolute;
                        left: 50%;
                        bottom: 45px;
                        transform: translateX(-50%);
                        transition: width 1s;
                    }
                    &:hover::after{
                        width: 100%;
                    }
                }
            }
        }
        .search{
            width: 132px;
            height: 132px;
            // background-color: chartreuse;
            h2{
                padding: 51px;
            }
        }
    }
    .banner{
        .swiper-container{
            height: 800px !important;
            .swiper-wrapper{
                .swiper-slide {
                    overflow: hidden;
                    img{
                        width: 100%;
                    }
                }
            }
            .pagination {
                position: absolute;
                z-index: 9999999;
                bottom: 20px;
                width: 100%;
                height: 20px;
                text-align: center;
                .swiper-pagination-switch {
                    display: inline-block;
                    width: 8px;
                    height: 8px;
                    border-radius: 8px;
                    background: #555;
                    margin: 0 5px;
                    opacity: 0.8;
                    border: 1px solid #fff;
                    cursor: pointer;
                    }
                    .swiper-active-switch {
                    background: #fff;
                    }
            }
            .swiper-button-prev,
            .swiper-button-next {
                position: absolute;
                z-index: 999999;
                width: 17px;
                height: 30px;
                top: 50%;
                transform: translateY(-50%);
            }
            .swiper-button-prev{
                left: 10px;
                background: url(../images/arrows.png) no-repeat left top;
                
            }
            .swiper-button-next{
                right: 10px;
                background: url(../images/arrows.png) no-repeat left bottom;
            }
        }
    }
}


//主体内容
main{
    //私人定制
    .order{
        width: 1150px;
        height: 535px;
        margin: auto;
        .order_top{
            width: 100%;
            height: 205px;
            // background-color: darkmagenta;
            h3{
                font-size: 30px;
                color: #1b252e;
                font-weight: bolder;
                line-height: 76px;
                padding-top: 40px;
                text-align: center;
            }
            p{
                text-align: center;
                &:nth-child(2){
                    font-size: 16px;
                    color: darkgray;
                }
            }
        }
        .order_bottom{
            width: 100%;
            height: 330px;
            // background-color: rgb(60, 20, 124);
            .bottom_center{
                display: flex;
                margin: 0 auto;
            }
            figure{
                width: 25%;
                text-align: center;
                img{
                    margin: 0 auto;
                    padding: 10px 0;
                }
                figcaption{
                    h4{
                        font-size: 20px;
                        color: darkturquoise;
                        line-height: 100px;
                        font-weight: normal;
                    }
                    p{
                        width: 240px;
                        font-size: 13px;
                        margin: 0 auto;
                        color: rgb(94, 93, 93);
                        line-height: 22px;
                        font-family: "微软雅黑";
                    }
                }
            }
        }
    }

    //主题游
    .main-theme{
        width: 100%;
        height: 750px;
        background-color: rgb(247, 247, 247);
        .theme{
            width: 1150px;
            margin: auto;
            .theme_top{
                height: 205px;
                margin: 0 auto;
                // background-color: firebrick;
                h3{
                    font-size: 30px;
                    color: #1b252e;
                    font-weight: bolder;
                    line-height: 76px;
                    padding-top: 40px;
                    text-align: center;
                }
                p{
                    text-align: center;
                    &:nth-child(2){
                        font-size: 16px;
                        color: darkgray;
                    }
                }
            }
            .theme_bottom{
                width: 100%;
                height: 545px;
                // background-color: gainsboro;
                .bottom_center{
                    display: flex;
                    margin: 0 auto;
                    .theme_bottom-div{
                        width: 33.3%;
                        
                        figure{
                            height: 300px;
                            border: 1px solid rgb(247, 247, 247);
                            // float: left;
                            margin: 0 15px;
                            overflow: hidden;
                            img{
                                width: 364px;
                                height: 288px;
                                margin: 0 auto;
                                padding: 6px;
                                transition: 0.5s;
                                &:hover{
                                    transform: scale(1.1);
                                }
                            }
                        }
                        figcaption{
                            height: 242px;
                            float: left;
                            margin: 0 16px;
                            h4{
                                font-size: 18px;
                                color: rgb(0, 0, 0);
                                padding-top: 30px;
                                font-weight: bolder;
                            }
                            p{
                                // width: 240px;
                                font-size: 16px;
                                color: rgb(94, 93, 93);
                                line-height: 50px;
                                font-family: "微软雅黑";
                            }
                            span{
                                font-weight: bolder;
                                color: rgba(255, 0, 0, .8);
                            }
                        }
                    }
                }

            }
        }
    }

    //旅游商城
    .shop{
        width: 1150px;
        margin: auto;
        .shop_top{
            height: 205px;
            margin: 0 auto;
            // background-color: firebrick;
            h3{
                font-size: 30px;
                color: #1b252e;
                font-weight: bolder;
                line-height: 76px;
                padding-top: 40px;
                text-align: center;
            }
            p{
                text-align: center;
                &:nth-child(2){
                    font-size: 16px;
                    color: darkgray;
                }
            }
        }
        .shop_bottom{
            width: 100%;
            height: 545px;
            // background-color: gainsboro;
            .bottom_center{
                display: flex;
                margin: 0 auto;
                .shop_bottom-div{
                    width: 33.3%;
                    figure{
                        height: 300px;
                        border: 1px solid white;
                        margin: 0 15px;
                        overflow: hidden;
                        img{
                            width: 364px;
                            height: 288px;
                            margin: 0 auto;
                            padding: 6px;
                            transition: 0.5s;
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                    }
                    figcaption{
                        height: 242px;
                        float: left;
                        margin: 0 16px;
                        h4{
                            font-size: 18px;
                            color: rgb(0, 0, 0);
                            padding-top: 30px;
                            font-weight: bolder;
                        }
                        p{
                            // width: 240px;
                            font-size: 16px;
                            color: rgb(94, 93, 93);
                            line-height: 30px;
                            font-family: "微软雅黑";
                        }
                        span{
                            font-weight: bolder;
                            color: rgba(255, 0, 0, .8);
                        }
                    }
                }
            }


        }
    }

    //客户案例
    .main-case{
        height: 750px;
        background-color: rgb(247, 247, 247);
        .case{
            width: 1150px;
            margin: auto;
            .case_top{
                height: 205px;
                margin: 0 auto;
                h3{
                    font-size: 30px;
                    color: #1b252e;
                    font-weight: bolder;
                    line-height: 76px;
                    padding-top: 40px;
                    text-align: center;
                }
                p{
                    text-align: center;
                    &:nth-child(2){
                        font-size: 16px;
                        color: darkgray;
                    }
                }
            }
            .case_bottom{
                width: 100%;
                height: 545px;
                .bottom_center{
                    display: flex;
                    margin: 0 auto;
                    figure{
                        width: 33.3%;
                        text-align: center;
                        transition: 0.5s;
                        &:hover{
                            transform: translateY(-30px);
                        }
                        img{
                            width: 150px;
                            height: 150px;
                            border-radius: 50%;
                            margin: 0 auto;
                            padding: 50px 0;
                        }
                        figcaption{
                            h4{
                                font-size: 20px;
                                color: rgb(0, 145, 148);
                                line-height: 60px;
                                font-weight: border;
                            }
                            p{
                                width: 280px;
                                font-size: 13px;
                                margin: 0 auto;
                                color: rgb(94, 93, 93);
                                line-height: 22px;
                                font-family: "微软雅黑";
                            }
                        }
                    }
                }

            }
        }
    }

}

//底部内容
footer{
    width: 100%;
    height: 400px;
    // background-color: steelblue;
    .footer_search{
        width: 80%;
        margin: 0 auto;
        position: relative;
        padding-top: 60px;
        #search{
            width: 100%;
            height: 30px;
            border: 1px solid rgb(170, 170, 170);
            &::-webkit-input-placeholder{
                padding-left: 10px;
                font-size: 16px;
                line-height: 30px;
            }
        }
        .search_image{
            width: 20px;
            height: 20px;
            position: absolute;
            right: 5px;
            top: 67px;
            z-index: 5;
            background-repeat: no-repeat; /*设置图片不重复*/
            background-position: 0px 0px;
        }
    }
    .footer_center{
        width: 80%;
        margin: 0 auto;
        // border-top: 1px solid rgb(221, 221, 221);
        section{
            h5{
                font-size: 18px;
                padding: 25px 0 20px 0;
                color: rgb(82, 82, 82);
                font-weight: 500;
            }
            // a{
            //     color: rgb(92, 92, 92);
            //     font-size: 14px;
            // }
        }
        .footer_one{
            width: 100%;
            a{
                display: inline;
                padding-right: 10px;
                color: rgb(92, 92, 92);
                font-size: 14px;
            }
        }
        .footer_two{
            width: 100%;
            height: 75px;
            // background-color: blue;
            text-align: center;
            line-height: 75px;
            border-top: 1px solid rgb(221, 221, 221);
            margin-top: 20px;
            p{
                font-size: 14px;
                color: dimgrey;
            }
        }
    }
}