header {
    width: 100%;
    height: 832px;
    background: #fff;
    .nav {
        width: 100%;
        height: 132px;
        margin: 0 auto;
        h1 {
            float: left;
            padding: 0 30px;
        }
        ul {
            width: 700px;
            height: 132px;
            float: left;
            line-height: 132px;
            // background-color: blue;
            li {
                float: left;
                padding: 0 30px;
            }
            a {
                color: rgb(94, 92, 91);
                font-size: 16px;
                font-weight: bolder;
                transition: 0.5s;
                &:hover {
                    color: #f13a3a;
                }
            }
        }
        .search {
            width: 132px;
            height: 132px;
            float: right;
            // background-color: chartreuse;
            h2 {
                padding: 51px;
            }
        }
    }
    .banner {
        width: 100%;
        height: 700px;
        background-image: url(../images/message_banner.jpg);
        position: relative;
        .text {
            width: 400px;
            // background-color: yellow;
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -50px;
            h2 {
                color: white;
                font-size: 40px;
                text-align: center;
            }
            p {
                color: white;
                font-size: 20px;
                text-align: center;
                line-height: 50px;
            }
        }
    }
}

//主体内容
main {
    width: 100%;
    // background-color: yellow;
    .tweet {
        width: 80%;
        margin: 0 auto;
        // background-color: yellowgreen;
        ul {
            list-style-type: none;
        }
        a {
            text-decoration: none;
        }
        h3 {
            width: 160px;
            height: 40px;
            margin-left: 168px;
            font-weight: 100;
            line-height: 40px;
            padding: 50px 0 0 0;
            border-bottom: 1px solid rgb(194, 194, 194);
        }
        #tab-list {
            width: 880px;
            // background-color: indigo;
            margin: 0 auto;
            #ul1 {
                height: 32px;
                li {
                    display: block;
                    width: 160px;
                    height: 40px;
                    line-height: 40px;
                    border-bottom: 1px solid rgb(204, 201, 201);
                    color: gray;
                    &:hover {
                        cursor: pointer;
                    }
                    &.active {
                        background-color: rgb(219, 218, 218);
                        color: black;
                    }
                }
            }
            div {
                width: 100%;
                margin-top: 100px;
                text-align: center;
                .message {
                    width: 100%;
                    img {
                        margin: 0 auto;
                    }
                    .text {
                        h4 {
                            font-size: 26px;
                            font-weight: 500;
                        }
                        p:nth-child(2) {
                            color: rgb(182, 180, 180);
                            font-weight: 100;
                        }
                        p:nth-child(3) {
                            width: 500px;
                            color: rgb(68, 68, 68);
                            font-weight: 100;
                            line-height: 24px;
                            padding-top: 20px;
                            margin: 0 auto;
                        }
                    }
                }
            }
        }
        .hide {
            display: none;
        }
    }
}

//底部内容
footer {
    width: 100%;
    height: 400px;
    // background-color: steelblue;
    .footer_search {
        width: 80%;
        margin: 0 auto;
        position: relative;
        padding-top: 60px;
        #search {
            width: 100%;
            height: 30px;
            border: 1px solid rgb(170, 170, 170);
            &::-webkit-input-placeholder {
                padding-left: 10px;
                font-size: 16px;
                line-height: 30px;
            }
        }
        .search_image {
            width: 20px;
            height: 20px;
            position: absolute;
            right: 5px;
            top: 67px;
            z-index: 5;
            background-repeat: no-repeat;
            /*设置图片不重复*/
            background-position: 0px 0px;
        }
    }
    .footer_center {
        width: 80%;
        margin: 0 auto;
        // border-top: 1px solid rgb(221, 221, 221);
        section {
            h5 {
                font-size: 18px;
                padding: 25px 0 20px 0;
                color: rgb(82, 82, 82);
                font-weight: 500;
            }
            // a{
            //     color: rgb(92, 92, 92);
            //     font-size: 14px;
            // }
        }
        .footer_one {
            width: 100%;
            a {
                display: inline;
                padding-right: 10px;
                color: rgb(92, 92, 92);
                font-size: 14px;
            }
        }
        .footer_two {
            width: 100%;
            height: 75px;
            // background-color: blue;
            text-align: center;
            line-height: 75px;
            border-top: 1px solid rgb(221, 221, 221);
            margin-top: 20px;
            p {
                font-size: 14px;
                color: dimgrey;
            }
        }
    }
}