@charset "UTF-8";
header {
  width: 100%;
  height: 832px;
  background: #fff;
}

header .nav {
  height: 132px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

header .nav h1 {
  padding: 0 30px;
}

header .nav ul {
  position: absolute;
  left: 350px;
  width: 700px;
  height: 132px;
  line-height: 132px;
  display: flex;
}

header .nav ul li {
  box-sizing: border-box;
  display: flex;
}

header .nav ul li a {
  display: block;
  width: 108px;
  color: #5e5c5b;
  font-size: 16px;
  font-weight: bolder;
  transition: 0.5s;
  text-align: center;
  position: relative;
}

header .nav ul li a:hover {
  color: #008cc7;
}

header .nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #008cc7;
  position: absolute;
  left: 50%;
  bottom: 45px;
  transform: translateX(-50%);
  transition: width 1s;
}

header .nav ul li a:hover::after {
  width: 100%;
}

header .nav .search {
  width: 132px;
  height: 132px;
}

header .nav .search h2 {
  padding: 51px;
}

header .banner {
  width: 100%;
  height: 700px;
  background-image: url(../images/message_banner.jpg);
  position: relative;
}

header .banner .text {
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
}

header .banner .text h2 {
  color: white;
  font-size: 40px;
  text-align: center;
}

header .banner .text p {
  color: white;
  font-size: 20px;
  text-align: center;
  line-height: 50px;
}

main {
  width: 100%;
}

main .tweet {
  width: 80%;
  margin: 0 auto;
}

main .tweet ul {
  list-style-type: none;
}

main .tweet a {
  text-decoration: none;
}

main .tweet h3 {
  width: 160px;
  height: 40px;
  margin-left: 168px;
  font-weight: 100;
  line-height: 40px;
  padding: 50px 0 0 0;
  border-bottom: 1px solid #c2c2c2;
}

main .tweet #tab-list {
  width: 880px;
  margin: 0 auto;
}

main .tweet #tab-list #ul1 {
  height: 32px;
}

main .tweet #tab-list #ul1 li {
  display: block;
  width: 160px;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid #ccc9c9;
  color: gray;
}

main .tweet #tab-list #ul1 li:hover {
  cursor: pointer;
}

main .tweet #tab-list #ul1 li.active {
  background-color: #dbdada;
  color: black;
}

main .tweet #tab-list div {
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

main .tweet #tab-list div .message {
  width: 100%;
}

main .tweet #tab-list div .message img {
  margin: 0 auto;
}

main .tweet #tab-list div .message .text h4 {
  font-size: 26px;
  font-weight: 500;
}

main .tweet #tab-list div .message .text p:nth-child(2) {
  color: #b6b4b4;
  font-weight: 100;
}

main .tweet #tab-list div .message .text p:nth-child(3) {
  width: 500px;
  color: #444444;
  font-weight: 100;
  line-height: 24px;
  padding-top: 20px;
  margin: 0 auto;
}

main .tweet .hide {
  display: none;
}

footer {
  width: 100%;
  height: 400px;
}

footer .footer_search {
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding-top: 60px;
}

footer .footer_search #search {
  width: 100%;
  height: 30px;
  border: 1px solid #aaaaaa;
}

footer .footer_search #search::-webkit-input-placeholder {
  padding-left: 10px;
  font-size: 16px;
  line-height: 30px;
}

footer .footer_search .search_image {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 67px;
  z-index: 5;
  background-repeat: no-repeat;
  /*设置图片不重复*/
  background-position: 0px 0px;
}

footer .footer_center {
  width: 80%;
  margin: 0 auto;
}

footer .footer_center section h5 {
  font-size: 18px;
  padding: 25px 0 20px 0;
  color: #525252;
  font-weight: 500;
}

footer .footer_center .footer_one {
  width: 100%;
}

footer .footer_center .footer_one a {
  display: inline;
  padding-right: 10px;
  color: #5c5c5c;
  font-size: 14px;
}

footer .footer_center .footer_two {
  width: 100%;
  height: 75px;
  text-align: center;
  line-height: 75px;
  border-top: 1px solid #dddddd;
  margin-top: 20px;
}

footer .footer_center .footer_two p {
  font-size: 14px;
  color: dimgrey;
}
