@charset "UTF-8";
header {
  width: 100%;
  height: 832px;
  background: #fff;
}

header .nav {
  width: 100%;
  height: 132px;
  margin: 0 auto;
}

header .nav h1 {
  float: left;
  padding: 0 30px;
}

header .nav ul {
  width: 700px;
  height: 132px;
  float: left;
  line-height: 132px;
}

header .nav ul li {
  float: left;
  padding: 0 30px;
}

header .nav ul a {
  color: #5e5c5b;
  font-size: 16px;
  font-weight: bolder;
  transition: 0.5s;
}

header .nav ul a:hover {
  color: #f13a3a;
}

header .nav .search {
  width: 132px;
  height: 132px;
  float: right;
}

header .nav .search h2 {
  padding: 51px;
}

header .banner {
  width: 100%;
  height: 700px;
  background-image: url(../images/order_banner.jpg);
  background-size: 100% 100%;
  position: relative;
}

header .banner .box {
  width: 700px;
  height: 300px;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -350px;
  margin-top: -150px;
}

header .banner .box h3 {
  color: white;
  font-size: 24px;
  text-align: center;
  padding-top: 60px;
}

header .banner .box p {
  color: white;
  text-align: center;
  padding: 40px 0;
}

header .banner .box .click {
  width: 100px;
  height: 40px;
  display: block;
  margin: auto;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

main {
  width: 100%;
}

main .one {
  width: 80%;
  height: 800px;
  margin: 0 auto;
}

main .one .one_title {
  width: 100%;
  height: 180px;
}

main .one .one_title h2 {
  width: 160px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid black;
  font-size: 28px;
  font-weight: 500;
  margin: 0 auto;
  padding-top: 60px;
}

main .one .one_content {
  width: 100%;
  height: 620px;
}

main .one .one_content .one_content_image {
  width: 50%;
  height: 620px;
  float: left;
}

main .one .one_content .one_content_image img {
  width: 480px;
  height: 240px;
  padding: 40px 60px 20px 60px;
}

main .one .one_content .one_content_text {
  width: 50%;
  height: 620px;
  float: left;
}

main .one .one_content .one_content_text .one_content_text_1 {
  width: 70%;
  padding: 20px 0 0 0;
  margin: 0 auto;
}

main .one .one_content .one_content_text .one_content_text_1 h3 {
  font-size: 22px;
  padding: 15px 0;
  color: #00a2ff;
}

main .one .one_content .one_content_text .one_content_text_1 p {
  font-size: 15px;
  color: #646464;
  line-height: 26px;
}

main .two {
  width: 80%;
  height: 800px;
  margin: 0 auto;
}

main .two .two_title {
  width: 100%;
  height: 180px;
}

main .two .two_title h2 {
  width: 160px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid black;
  font-size: 28px;
  font-weight: 500;
  margin: 0 auto;
  padding-top: 60px;
}

main .two .two_title p {
  text-align: center;
  line-height: 26px;
  color: gray;
}

main .two .two_image {
  width: 100%;
  height: 620px;
}

main .two .two_image img {
  margin: 0 auto;
}

main .three {
  width: 80%;
  height: 690px;
  margin: 0 auto;
}

main .three .three_title {
  width: 100%;
  height: 180px;
}

main .three .three_title h2 {
  width: 160px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-bottom: 1px solid black;
  font-size: 28px;
  font-weight: 500;
  margin: 0 auto;
  padding-top: 60px;
}

main .three .three_title p {
  text-align: center;
  line-height: 26px;
  color: gray;
}

main .three .three_route {
  width: 100%;
  height: 510px;
}

main .three .three_route figure {
  width: 380px;
  height: 500px;
  float: left;
  border: 1px solid #bddefa;
  background-color: #ececec;
}

main .three .three_route figure:nth-child(1) p {
  width: 320px;
  padding-left: 30px;
}

main .three .three_route figure:nth-child(2) {
  margin: 0 30px;
}

main .three .three_route figure:nth-child(3) p {
  width: 320px;
  padding-left: 30px;
}

main .three .three_route figure img {
  width: 320px;
  height: 320px;
  text-align: center;
  padding: 30px;
}

main .three .three_route figure h3 {
  padding-bottom: 20px;
  text-align: center;
  color: #383838;
}

main .three .three_route figure p {
  text-align: center;
  width: 380px;
  line-height: 30px;
  font-size: 15px;
  color: #858585;
}

footer {
  width: 100%;
  height: 400px;
}

footer .footer_search {
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding-top: 60px;
}

footer .footer_search #search {
  width: 100%;
  height: 30px;
  border: 1px solid #aaaaaa;
}

footer .footer_search #search::-webkit-input-placeholder {
  padding-left: 10px;
  font-size: 16px;
  line-height: 30px;
}

footer .footer_search .search_image {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 67px;
  z-index: 5;
  background-repeat: no-repeat;
  /*设置图片不重复*/
  background-position: 0px 0px;
}

footer .footer_center {
  width: 80%;
  margin: 0 auto;
}

footer .footer_center section h5 {
  font-size: 18px;
  padding: 25px 0 20px 0;
  color: #525252;
  font-weight: 500;
}

footer .footer_center .footer_one {
  width: 100%;
}

footer .footer_center .footer_one a {
  display: inline;
  padding-right: 10px;
  color: #5c5c5c;
  font-size: 14px;
}

footer .footer_center .footer_two {
  width: 100%;
  height: 75px;
  text-align: center;
  line-height: 75px;
  border-top: 1px solid #dddddd;
  margin-top: 20px;
}

footer .footer_center .footer_two p {
  font-size: 14px;
  color: dimgrey;
}
