//头部内容
header{
    width: 100%;
    height: 832px;
    background: #fff;
    .nav{
        width: 100%;
        height: 132px;
        margin: 0 auto;
        h1{
            float: left;
            padding: 0 30px;
        }
        ul{
            width: 700px;
            height: 132px;
            float: left;
            line-height: 132px;
            // background-color: blue;
            li{
                float: left;
                padding: 0 30px;
            }
            a{
                color: rgb(94, 92, 91);
                font-size: 16px;
                font-weight: bolder;
                transition: 0.5s;
                &:hover{
                    color: #f13a3a;
                }
            }
        }
        .search{
            width: 132px;
            height: 132px;
            float: right;
            // background-color: chartreuse;
            h2{
                padding: 51px;
            }
        }
    }
    .banner{
        width: 100%;
        height: 700px;
        background-image: url(../images/order_banner.jpg);
        background-size: 100% 100%;
        position: relative;
        .box{
            width: 700px;
            height: 300px;
            background: rgba(0, 0, 0, 0.5);
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -350px;
            margin-top: -150px;
            h3{
                color: white;
                font-size: 24px;
                text-align: center;
                padding-top: 60px;
            }
            p{
                color: white;
                text-align: center;
                padding: 40px 0;
            }
            .click{
                width: 100px;
                height: 40px;
                display: block;
                margin: auto;
                border-radius: 5px;
                border: none;
                font-size: 16px;
            }
        }
    }
}

//主体内容
main{
    width: 100%;
    // background: rgb(192, 39, 39);

    // 定制介绍
    .one{
        width: 80%;
        height: 800px;
        // background-color: yellow;
        margin: 0 auto;
        .one_title{
            width: 100%;
            height: 180px;
            // background-color: yellowgreen;
            h2{
                width: 160px;
                height: 50px;
                // background-color: royalblue;
                text-align: center;
                line-height: 50px;
                border-bottom:  1px solid black; 
                font-size: 28px;
                font-weight: 500;
                margin: 0 auto;
                padding-top: 60px;
            }
        }
        .one_content{
            width: 100%;
            height: 620px;
            // background-color: saddlebrown;
            .one_content_image{
                width: 50%;
                height: 620px;
                float: left;
                // background-color: sandybrown;
                img{
                    width: 480px;
                    height: 240px;
                    padding: 40px 60px 20px 60px;
                }
            }
            .one_content_text{
                width: 50%;
                height: 620px;
                float: left;
                .one_content_text_1{
                    width: 70%;
                    padding: 20px 0 0 0;
                    margin: 0 auto;
                    h3{
                        font-size: 22px;
                        padding: 15px 0;
                        color: rgb(0, 162, 255);
                    }
                    p{
                        font-size: 15px;
                        color: rgb(100, 100, 100);
                        line-height: 26px;
                    }
                }
            }
        }
    }

    // 定制流程
    .two{
        width: 80%;
        height: 800px;
        // background-color: yellow;
        margin: 0 auto;
        .two_title{
            width: 100%;
            height: 180px;
            // background-color: yellowgreen;
            h2{
                width: 160px;
                height: 50px;
                // background-color: royalblue;
                text-align: center;
                line-height: 50px;
                border-bottom:  1px solid black; 
                font-size: 28px;
                font-weight: 500;
                margin: 0 auto;
                padding-top: 60px;
            }
            p{
                text-align: center;
                line-height: 26px;
                color: gray;
            }
        }
        .two_image{
            width: 100%;
            height: 620px;
            // background-color: darkgoldenrod;
            img{
                margin: 0 auto;
            }
        }
    }

    // 定制路线
    .three{
        width: 80%;
        height: 690px;
        margin: 0 auto;
        // background-color: yellow;
        .three_title{
            width: 100%;
            height: 180px;
            // background-color: yellowgreen;
            h2{
                width: 160px;
                height: 50px;
                // background-color: royalblue;
                text-align: center;
                line-height: 50px;
                border-bottom:  1px solid black; 
                font-size: 28px;
                font-weight: 500;
                margin: 0 auto;
                padding-top: 60px;
            }
            p{
                text-align: center;
                line-height: 26px;
                color: gray;
            }
        }
        .three_route{
            width: 100%;
            height: 510px;
            // background-color: greenyellow;
            figure{
                width: 380px;
                height: 500px;
                float: left;
                border: 1px solid rgb(189, 222, 250);
                background-color: rgb(236, 236, 236);
                &:nth-child(1){
                    p{
                        width: 320px;
                        padding-left: 30px;
                    }
                }
                &:nth-child(2){
                    margin: 0 30px;
                }
                &:nth-child(3){
                    p{
                        width: 320px;
                        padding-left: 30px;
                    }
                }
                img{
                    width: 320px;
                    height: 320px;
                    text-align: center;
                    padding: 30px;
                }
                h3{
                    padding-bottom: 20px;
                    text-align: center;
                    color: rgb(56, 56, 56);
                }
                p{
                    text-align: center;
                    width: 380px;
                    line-height: 30px;
                    font-size: 15px;
                    color: rgb(133, 133, 133);
                }
            }
        }
    }
}


//底部内容
footer{
    width: 100%;
    height: 400px;
    // background-color: steelblue;
    .footer_search{
        width: 80%;
        margin: 0 auto;
        position: relative;
        padding-top: 60px;
        #search{
            width: 100%;
            height: 30px;
            border: 1px solid rgb(170, 170, 170);
            &::-webkit-input-placeholder{
                padding-left: 10px;
                font-size: 16px;
                line-height: 30px;
            }
        }
        .search_image{
            width: 20px;
            height: 20px;
            position: absolute;
            right: 5px;
            top: 67px;
            z-index: 5;
            background-repeat: no-repeat; /*设置图片不重复*/
            background-position: 0px 0px;
        }
    }
    .footer_center{
        width: 80%;
        margin: 0 auto;
        // border-top: 1px solid rgb(221, 221, 221);
        section{
            h5{
                font-size: 18px;
                padding: 25px 0 20px 0;
                color: rgb(82, 82, 82);
                font-weight: 500;
            }
            // a{
            //     color: rgb(92, 92, 92);
            //     font-size: 14px;
            // }
        }
        .footer_one{
            width: 100%;
            a{
                display: inline;
                padding-right: 10px;
                color: rgb(92, 92, 92);
                font-size: 14px;
            }
        }
        .footer_two{
            width: 100%;
            height: 75px;
            // background-color: blue;
            text-align: center;
            line-height: 75px;
            border-top: 1px solid rgb(221, 221, 221);
            margin-top: 20px;
            p{
                font-size: 14px;
                color: dimgrey;
            }
        }
    }
}