@charset "UTF-8";
header {
  width: 100%;
  height: 132px;
  background: #fff;
}

header .nav {
  height: 132px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  position: relative;
}

header .nav h1 {
  padding: 0 30px;
}

header .nav ul {
  position: absolute;
  left: 350px;
  width: 700px;
  height: 132px;
  line-height: 132px;
  display: flex;
}

header .nav ul li {
  box-sizing: border-box;
  display: flex;
}

header .nav ul li a {
  display: block;
  width: 108px;
  color: #5e5c5b;
  font-size: 16px;
  font-weight: bolder;
  transition: 0.5s;
  text-align: center;
  position: relative;
}

header .nav ul li a:hover {
  color: #008cc7;
}

header .nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #008cc7;
  position: absolute;
  left: 50%;
  bottom: 45px;
  transform: translateX(-50%);
  transition: width 1s;
}

header .nav ul li a:hover::after {
  width: 100%;
}

header .nav .search {
  width: 132px;
  height: 132px;
}

header .nav .search h2 {
  padding: 51px;
}

main .image_bg div.g-img {
  width: 100%;
  height: 700px;
}

main .image_bg div.g-img h2 {
  font-size: 40px;
  color: white;
  padding-top: 260px;
  text-align: center;
  line-height: 100px;
}

main .image_bg div.g-img p {
  width: 700px;
  color: white;
  text-align: center;
  padding-left: 400px;
}

main .image_bg div.g-img .btn {
  width: 260px;
  height: 70px;
  border: none;
  background-color: white;
  font-size: 20px;
  font-weight: bolder;
  margin-left: 630px;
  margin-top: 50px;
}

main .image_bg div.g-img .btn a {
  color: #07a1a7;
}

main .image_bg .g-img:nth-child(1) {
  background: url(../images/theme_nature.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main .image_bg .g-img:nth-child(2) {
  background: url(../images/theme_fimaly.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main .image_bg .g-img:nth-child(3) {
  background: url(../images/theme_aerial.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

footer {
  width: 100%;
  height: 400px;
}

footer .footer_search {
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding-top: 60px;
}

footer .footer_search #search {
  width: 100%;
  height: 30px;
  border: 1px solid #aaaaaa;
}

footer .footer_search #search::-webkit-input-placeholder {
  padding-left: 10px;
  font-size: 16px;
  line-height: 30px;
}

footer .footer_search .search_image {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 67px;
  z-index: 5;
  background-repeat: no-repeat;
  /*设置图片不重复*/
  background-position: 0px 0px;
}

footer .footer_center {
  width: 80%;
  margin: 0 auto;
}

footer .footer_center section h5 {
  font-size: 18px;
  padding: 25px 0 20px 0;
  color: #525252;
  font-weight: 500;
}

footer .footer_center .footer_one {
  width: 100%;
}

footer .footer_center .footer_one a {
  display: inline;
  padding-right: 10px;
  color: #5c5c5c;
  font-size: 14px;
}

footer .footer_center .footer_two {
  width: 100%;
  height: 75px;
  text-align: center;
  line-height: 75px;
  border-top: 1px solid #dddddd;
  margin-top: 20px;
}

footer .footer_center .footer_two p {
  font-size: 14px;
  color: dimgrey;
}
